In [1]:
import pandas as pd

In [2]:
lasers = pd.concat([pd.read_excel("data/laser_incidents_2010-2014.xls",
                      sheetname=0),
                   pd.read_excel("data/laser_incidents_2010-2014.xls",
                      sheetname=1),
                   pd.read_excel("data/laser_incidents_2010-2014.xls",
                      sheetname=2),
                   pd.read_excel("data/laser_incidents_2010-2014.xls",
                      sheetname=3),
                   pd.read_excel("data/laser_incidents_2010-2014.xls",
                      sheetname=4)])

In [3]:
lasers.head()

,AC/ID,ACID,ALT,Aircraft ID,CITY,COLOR,DATE,Injury Reported,MAJOR CITY,No. A/C,STATE,TIME (UTC),TYPE A/C
0,NaN,AIR1,2000,NaN,Lexington,Green,2010-01-01,NO,LEX,1,Kentucky,102,HELO
1,NaN,ASA513,10000,NaN,Los Angeles,Green,2010-01-01,NO,LAX,1,California,403,B737
2,NaN,EGF3002,7000,NaN,Los Angeles,Green,2010-01-01,NO,LAX,1,California,246,E135
3,NaN,EGF3086,7000,NaN,Los Angeles,Green,2010-01-01,NO,LAX,1,California,157,E135
4,NaN,JBU300,12500,NaN,Los Alamitos,Green,2010-01-01,NO,SLI,1,California,258,A320

In [4]:
## Group by state and count
lasers["STATE"].str.strip().value_counts()

California                 3337
Texas                      1781
Florida                    1476
Arizona                     935
Pennsylvania                792
New York                    677
Illinois                    610
Oregon                      514
Nevada                      450
New Jersey                  420
North Carolina              406
Puerto Rico                 387
Hawaii                      347
Colorado                    346
Ohio                        342
Washington                  313
Kentucky                    296
Tennessee                   289
South Carolina              284
Utah                        284
Virginia                    275
Maryland                    267
Georgia                     262
Michigan                    251
Indiana                     244
Missouri                    184
District of Columbia        169
Alabama                     157
Louisiana                   147
Oklahoma                    138
                           ...
Massachusetts               124
New Mexico                  112
Connecticut                 111
Kansas                       85
Nebraska                     68
Arkansas                     65
Iowa                         49
West Virginia                48
Delaware                     46
Montana                      41
Idaho                        35
Mississippi                  35
New Hampshire                33
Rhode Island                 31
North Dakota                 27
Maine                        23
South Dakota                 22
Alaska                       16
UNKN                         16
Guam                         14
Wyoming                      13
Vermont                      11
Northern Mariana Island       2
Virgin Islands                2
Pittsburgh                    1
Northern Mariana Is           1
utah                          1
Chicago                       1
St Croix                      1
Califiornia                   1
Name: STATE, dtype: int64

In [5]:
ct_lasers = lasers[lasers["STATE"].str.strip() == "Connecticut"]

In [24]:
ct_lasers["CITY"].value_counts().to_frame()

               CITY
Windsor Locks    48
Hartford         18
Bridgeport       16
Oxford            5
Groton            5
New Haven         5
Danbury           3
Oxford            2
Plainville        2
Madison           2
Putnam            1
Meriden           1
Stamford          1
East Windsor      1
Norwalk           1

In [7]:
## CT laser incidents by year and month
ct_lasers["DATE"].apply(lambda x: str(x.year) + "-" + str(x.month)).value_counts().sort_index()

2010-10    3
2010-11    3
2010-2     1
2010-4     3
2010-5     4
2010-6     1
2010-7     3
2010-8     4
2010-9     6
2011-10    4
2011-11    3
2011-12    2
2011-3     4
2011-4     3
2011-5     3
2011-6     1
2011-7     1
2011-8     3
2011-9     2
2012-10    1
2012-11    1
2012-12    2
2012-2     2
2012-3     1
2012-4     1
2012-5     1
2012-6     7
2012-7     4
2012-8     2
2012-9     3
2013-1     3
2013-10    3
2013-12    1
2013-4     1
2013-5     3
2013-6     1
2013-8     2
2013-9     3
2014-1     1
2014-10    1
2014-11    3
2014-4     1
2014-6     2
2014-7     2
2014-8     5
Name: DATE, dtype: int64

In [23]:
## CT laser incidents by year and month
ct_lasers["DATE"].apply(lambda x: x.year).value_counts().sort_index()

2010    28
2011    26
2012    25
2013    17
2014    15
Name: DATE, dtype: int64

In [21]:
## National laserings by year
lasers["DATE"].apply(lambda x: str(x.year)).value_counts().sort_index()

2010    2776
2011    3575
2012    3482
2013    3960
2014    3894
nan        5
Name: DATE, dtype: int64

In [10]:
ct_lasers["COLOR"].value_counts()

Green             105
Blue                3
Red/Green/Blue      1
White               1
Purple              1
Name: COLOR, dtype: int64

In [11]:
lasers["COLOR"].str.upper().value_counts()

GREEN                         16523
BLUE                            296
RED                             271
WHITE                           174
UNKN                            135
GREEN                            95
PURPLE                           34
GREEN/WHITE                      20
GREEN/RED                        13
YELLOW                           13
RED/GREEN                        12
BLUE/GREEN                        9
GREEN/BLUE                        7
BLUE/PURPLE                       6
WHITE/GREEN                       6
MULTI-COLORED                     5
GREEN/YELLOW                      5
GREEN/RED/BLUE                    4
 GREEN                            4
GREEN/PURPLE                      4
RED AND GREEN                     4
YELLOW/WHITE                      3
WHITE AND GREEN                   3
WHITE/RED                         3
BLUE/WHITE                        3
PURPLE/BLUE                       3
ORANGE                            3
MULTICOLOR                        2
RED, WHITE, BLUE AND GREEN        1
MULTI-COLOR                       1
GREEN/ORANGE                      1
BLUE/RED                          1
VIOLET                            1
GREEN OR BLUE                     1
WHITE                             1
PURPLE/WHITE                      1
RED, GREEN, WHITE                 1
GREEN/ BLUE                       1
RED/WHITE/BLUE                    1
ORANGE/RED                        1
ORANGE/YELLOW                     1
WHITE/YELLOW                      1
GRAY                              1
AMBER                             1
GREEN AND WHITE                   1
GREEN/RED/WHITE                   1
RED AND WHITE                     1
WHITE-GREEN                       1
RED/GREEN/BLUE                    1
GREY/WHITE                        1
GREEN OR WHITE                    1
BLUE OR WHITE                     1
ORANGE/WHITE                      1
SPOTLIGHT                         1
MULTIPLE                          1
Name: COLOR, dtype: int64

In [13]:
lasers["Injury Reported"].value_counts()

NO      17360
No        184
NO*        73
*NO        35
NO         33
NO          1
Name: Injury Reported, dtype: int64

In [17]:
ct_lasers["ALT"].value_counts().sort_values(ascending=False)

4000     13
5000     12
3000     10
6000      7
2500      6
7000      6
1000      5
11000     5
3500      5
UNKN      4
10000     4
2000      4
8000      3
4500      3
5500      2
13000     2
1800      2
17000     2
2700      1
14000     1
15000     1
FL180     1
14500     1
FL200     1
15500     1
600       1
3400      1
5900      1
7500      1
3700      1
800       1
16000     1
6500      1
2200      1
Name: ALT, dtype: int64

In [19]:
lasers["ALT"].value_counts().sort_values(ascending=False)

3000     1419
4000     1207
2000     1080
5000      950
6000      932
7000      719
2500      718
8000      690
1500      636
10000     626
1000      555
11000     477
UNKN      469
3500      465
9000      453
4500      326
12000     287
5500      245
13000     231
1800      213
500       207
800       196
6500      171
1200      170
15000     162
16000     149
1600      145
2200      144
14000     134
1700      129
         ...
Fl200       1
1550        1
28500       1
12200       1
9           1
13400       1
80          1
1150        1
11700       1
11000       1
9700        1
18300       1
26500       1
101         1
1200        1
Fl230       1
85          1
Fl320       1
12          1
8           1
70          1
Fl270       1
18500       1
40          1
24500       1
45          1
45000       1
21          1
13          1
2034        1
Name: ALT, dtype: int64